.logo {
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 0;
}

.logo::after {
  content: '';
  width: '100%';
  height: 2px;
  background-color: var(--chakra-colors-primary-50);
  margin-bottom: 0;
}

.logo + span {
  margin-top: 0;
  font-size: 0.75rem;
  color: var(--chakra-colors-netural-30);
}
